<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div *ngIf="users.length==0" class="title"><h3>There are no users</h3></div>
        <div *ngIf="users.length!=0" class="container">
            <h3 class="title" >Users</h3>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let user of users;let i=index">
                        <td>{{i+1}}</td>
                        <td> {{user.firstname}} </td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.status}}</td>
                        <td>
                            <div *ngIf="user.status==1">
                                <button  (click)="onSuspend(user)" class="btn btn-danger">Suspend</button>
                            </div>
                            <div *ngIf="user.status==2">
                                <button  (click)="onActivate(user)" class="btn btn-primary" style="margin-left: 20px;">Activate</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</body>
</html>

