<link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
<div class="container mt-5" >
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h2 style="text-align: center;">Statistics</h2>
        <div class="row">
            <div class="col-6">
                    <img style="margin-left: 90px;" src="/assets/images/car.jfif">
                    <h1 style="margin-left: 170px;color: red;">{{total_bookcar_count}}+</h1>
                    <h2 style="margin-left: 120px;font-family: 'Philosopher',serif;">Daily Rides</h2>
                    

            </div>
            <div class="col-6 mt-5 ">
                <img width="300" height="auto" src="/assets/images/user.png">
                <h1 style="margin-left: 170px;margin-top: 30px;color: red;">{{total_user_count}}+</h1>
                <h2 style="margin-left: 120px;font-family: 'Philosopher',serif;">Happy Users</h2>
            </div>
            <div class="col-6">
                <img style="margin-left: 90px;" src="/assets/images/feedback.jfif">
                <h1 style="margin-left: 170px;color: red;">{{total_bookcar_count}}+</h1>
                <h2 style="margin-left: 120px;font-family: 'Philosopher',serif;">Feedback</h2>
                

        </div>
        <div class="col-6 mt-5 ">
            <img width="300" height="auto" src="/assets/images/faq.png">
            <h1 style="margin-left: 170px;margin-top: 30px;color: red;">{{total_user_count}}+</h1>
            <h2 style="margin-left: 120px;font-family: 'Philosopher',serif;">FAQ's</h2>
        </div>
        </div>

    </div>
</div>

